<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>vue.js</title>
    <script src="https://unpkg.com/vue"></script>
    <script>
        window.onload = function () {
            var vm1 = new Vue({
                el: '#test1',
                data: {
                    data1: 'AAA',
                    data2: 'BBB'
                },
                computed: {
                    data3: {
                        get: function () {
                            return this.data1 + ',' + this.data2
                        },
                        set: function (newValue) {
                            var list = newValue.split(',')
                            if(list.length >= 2) {
                                this.data1 = list[0],
                                this.data2 = list[1]
                            }
                        }
                    }
                }
            });
        }
    </script>
</head>
<body>
<div id="test1">
    <input type="text" v-model="data1">
    <br>
    <input type="text" v-model="data2">
    <br>
    <input type="text" v-model="data3">
    <br>
    <h2>set과 get을 이용하여 연산통해 얻어진 값을 새롭게 셋팅하거나 가져나 사용할 수 있다.</h2>
</div>
</body>
</html>